body {
    background-image: url('https://media.istockphoto.com/id/1138892999/vector/wavy-ombre-yellow-sun-rays-background.jpg?s=612x612&w=0&k=20&c=T9zd-TiR4_nmuJCGTJfiIUl9EuGQ6BwlA5GRbuRmXK8=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-size: 400%;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family:'garamond', serif;
    margin: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), 0 1px 0 #fff;

}
#about-me, #introduction, #my-interests, #my-projects, #projects-content, #contact-me ,#contact-content {
    font-size: 150%;
    text-align: left;
    color: black;
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
